
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #02f16af5;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid #02f16af5;
    background: #02f16af5;
    transition: 0.5s;
    color: #fff;
}
nav .fa-solid{
    display: none;
}

.terms-box{
    margin: 50px;
    max-width: 1700px;
    height: 500pxS;
    background: white;
    font-family: "Montserrat";
    padding: 60px 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border: black;
}

.terms-text{
    padding: 0 20px;
    height: 400px;
    overflow-y:auto;
    font: 14px;
    font-weight: 500;
    color: rgb(5, 5, 5);
}

.terms-text::-webkit-scrollbar{
    width: 10px;
    background-color: #282828;

}

.terms-text::-webkit-scrollbar-thumb{
    background-color: #d13639;

}

.terms-box h4{
    text-transform: uppercase;
    text-align: center;
    padding: 0 40px;
}

.terms-box h4 span{
    color: #0910e5;
}
.btn{
    height: 50px;
    width: calc(100% - 10px);
    border: 1px solid #02f16af5;
    border-radius: 6px;
    font-size: 22px;
    font-weight: 500;
    color: #02f16af5;
    transition: .3s linear;
    cursor: pointer;
}
